  <div class="show_main">
  <h1 class="show_title"><%= @post.name %></h1>
  <div class="content_post" style="background-image: url(<%= @post.image %>);">
  </div>
  <% if user_signed_in? %>
    <div >
    <a href="/reviews/new?post_id=<%= @post.id %> "class="review_link">この作品をレビューする</a>
    </div>
    <% else %>
    <div >
    <a href="/users/sign_up"class="review_link">アカウント登録してレビューを投稿する</a>
    </div>
  <% end %>
  <ul  class="show__main">
  <% @post.reviews.each do |review| %>
  <li class="show_border"style="border-bottom: solid 1px">
  <div class="nickname"><%= review.user.nickname %>さん</div>
  <div class="rate">評価<%= review.rate %></div>
  <div class="review_review"><%= review.review %></div>
   <% if user_signed_in? && current_user.id == review.user_id %>
   <%= link_to"編集",edit_review_path(review.id),{class: :"review_edit",} %>
   <%= link_to"削除","/reviews/#{review.id}/destroy",method: :post,class: :"review_destroy" %>
   <% end %>
  </li>
  <% end %>
  </ul>




