<!DOCTYPE html>
<html>
  <head>
    <title>Murder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <div class="logo">マーダーミステリー口コミサイト マダミス！</div>
  <div class="new">ここにないマーダーミステリーを紹介する</div>
  </div>
    <%= yield %>
  </body>
</html>
