<!DOCTYPE html>
<html>
  <head>
    <title>Murder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <%= link_to "マーダーミステリー口コミサイト マダミス！","/",class: "logo" %>
     <% if user_signed_in? %>
        <div >
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: 'post'%>
           <%= link_to "ここにないマーダーミステリーを紹介する","/posts/new",class: "new" %>
        </div>
      <% else %>
        <div >
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          <%= link_to "ここにないマーダーミステリーを紹介する","/users/sign_up",class: "new" %>
        </div>
      <% end %>
  </div>
    <%= yield %>
  </body>
</html>